@use "variables" as *; //this puts all the variables in the global namespace.
//@use "mixins" as m;
@use 'atoms';
@use 'mobile';
@use 'molecules';
@use 'organisims';

/* https://nataliagray.github.io/WDD331-group2/ */
/***********************************
MEDIA QUERIES & SPACING
************************************/
// tablet
@media only screen and (min-width: 481px) {
  .main {
    padding: 0;
    margin: 0 .8em;
  }
}
// laptop
@media only screen and (min-width: 769px) {
  .intro {
    min-height: 800px;
    margin-top: 800px;
  }
  header, .summary {
    top: -250px;
  }
  .main {
    padding: 1em;
    height: 175%;
  }
  .main {
    h3 {
      margin-left: 5%;
    }

    div p {
      margin: 0 auto;
      max-width: 90%;
    }
  }
  footer {
    margin-bottom: 100px;
    height: 350px;
    bottom: 30%;

    a {
      bottom: -80%;
    }
  }
  aside {
    margin-top: 150px;
  }
  .select, .archives, .resources {
    bottom: -55%;
  }
}

// laptop (ipad air)
@media only screen and (min-width: 810px) {
  .main {
    height: 100%;

    p {
      max-width: 80%;
    }
  }
  .summary {
    margin-bottom: 5em;
  }
  footer {
    gap: 0;
  }
  // campfire yellow 
  .wrapper::after {
    bottom: 9.5%;
  }  
}

// laptop (surface pro 7)
@media only screen and (min-width: 912px) {
  .main {
    height: 80%;

    p {
      max-width: 80%;
    }
  }
  .summary {
    margin-bottom: 5em;
  }
  // campfire yellow 
  .wrapper::after {
    bottom: 9%;
  }    
  // campfire red
  .design-selection::after {
    left: 51%;
  }
  // campfire blue
  .design-archives::after {
    left: 54%;
  }
  .select, .archives, .resources {
    bottom: -40%;
  }
}
// desktop (Nest Hub) ... screen must be 1024 or larger
@media only screen and (min-width: 1024px) {
  .main {
    height: 280%;
  }
  .explanation, .benefits {
    width: 50%;
  }
  .participation, .requirements {
    text-align: right;
    position: relative;
    left: 40%;
    width: 60%;
 
    h3 {
      margin-right: 6%;
    }
  }
  footer {
    bottom: 55%;
  }

  // campfire yellow 
  .wrapper::after {
    bottom: 11%;
    left: 46.5%;
  }
  // campfire blue
  .design-archives::before {
    left: 46%;
  }
  .design-archives::after {
    left: 50.5%;
  } 
  
  .select, .archives, .resources {
    bottom: -55%;
  }  
}
// tv (nest hub max)
@media only screen and (min-width: 1280px) {
  .main {
    height: 175%;
  }
  .explanation, .benefits {
    width: 50%;
  }
  .participation, .requirements {
    text-align: right;
    position: relative;
    left: 40%;
    width: 60%;
 
    h3 {
      margin-right: 6%;
    }
  }

  // campfire yellow 
  .wrapper::after {
    left: 46%;
  }
  // campfire red
  .design-selection::before {
    left: 46%;
  }  
  .design-selection::after {
    left: 49%;
  }
  // campfire blue
  .design-archives::before {
    left: 45.8%;
  }
  .design-archives::after {
    left: 50.5%;
  }
  // logs
  .zen-resources::before, .zen-resources::after {
    left: 44.5%;
  }
  .select, .archives, .resources {
    bottom: -50%;
  }
}
@media only screen and (min-width: 1600px) {
  .main {
    height: 180%;
    padding: 0 5%;
  }

  .select, .archives, .resources {
    bottom: -46%;
  }

  // campfire yellow 
  .wrapper::after {
      left: 46.2%;
  }
  // logs
  .zen-resources::before, .zen-resources::after {
    left: 44.9%;
  }
}