/***********************************
VARIABLES
************************************/
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppin&display=swap');

// variables used throughout the theme
$font-header: 'Paytone One', cursive;
$font-text: 'Poppin', sans-serif;

//$page-text: #C6D2ED;
$page-text: #DDDBF1; // lavender
$black: black;
$blue: blue;
$sky-blue: #101D42; // sky blue also acts as lake
$campfire-yellow: #F4E409; // titanium yellow
$campfire-red: #a63c06; // rust
$campfire-blue: blue;
$glow: #e7e6f7; // flashlight glow
$brownl:#70392F; // log gradient
$brownd:#612E25; // log gradient
$yellow:#FFDC01; // fireflies

// currently unused
// $primary: #0D0630; // russian violet
// $secondary: 
// $accent2: #384E77; // y in mn blue
// $accent3: #8BBEB2; // green sheen