/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  bmargin: 2em;
}

main {
  margin: 0 auto;
  width: 1224px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

td {
  text-align: center;
  padding: 10px;
}

blockquote {
    bmax-width:390px;
    color: red;
    text-align: center; 
    padding-left: 5px;
    margin:0 auto;
    font-size: 24px;
    width:auto;
    display:table
}