<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Household</title>
    <meta name="description" content="Manage household members">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Charm&family=Montserrat&display=swap"> <!-- Open+Sans -->
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/family.js" type="module"></script>
</head>
<body>
    <main>
        <h1><a href="../">Home</a> / Household</h1>
       
        <div id="message"></div>

        <form id="familyMember" name="familyMember">
            <label for="name">Name</label> 
            <input id="name" name="name" type="text" pattern="[A-Za-z]" placeholder="Enter name" required>

            
            <label for="age">Age</label> 
            <input id="age" name="age" type="number" min="1" max="99" maxlength="3" placeholder="Enter age" required>
            
            <fieldset id="sex">
                <legend>Sex</legend>
                <label for="male">Male</label>
                <input type="radio" id="male" name="sex" value="male" required>

                <label for="female">Female</label>
                <input type="radio" id="female" name="sex" value="female">
            </fieldset>

            <fieldset id="activityLevel">
                <legend>Activity level</legend>
                <select id="activity"><option value="sedentary">Sedentary</option><option value="moderate">Moderate</option><option value="active">Active</option></select>

                <ul>
                    <li>Sedentary means a lifestyle that includes only the light physical activity associated with typical day-to-day life.</li>
                    <li>Moderately active means a lifestyle that includes physical activity equivalent to walking about 1.5 to 3 miles per day at 3 to 4 miles per hour, in addition to the light physical activity associated with typical day-to-day life.</li>
                    <li>Active means a lifestyle that includes physical activity equivalent to walking more than 3 miles per day at 3 to 4 miles per hour, in addition to the light physical activity associated with typical day-to-day life.</li>
                </ul>
            </fieldset>

            <input id="id" type="hidden">

            <div id="controlButtons">
                <input id="addFamilyMember" type="button" class="control" value="Add Member">
                <input id="cancel" type="button" class="control" value="Cancel">
            </div>
        </form>
        
    </main>
</body>
</html>