<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Family</title>
    <meta name="description" content="Beehive food storage calculator">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Charm&family=Montserrat&display=swap">
    <link rel="stylesheet" href="../css/styles.css">
    <script defer src="../js/family.js" type="module"></script>
</head>
<body>
    <main>
        <h1>Family</h1>
        <form method="GET">
            <label for="name">Name: <input id="name" name="name" type="text"></label>
            <label for="age">Age: <input id="age" name="age" type="number"></label>
            <select id="sex"><option value="male">Male</option><option value="female">Female</option></select>
            <select id="activity"><option value="sedentary">sedentary</option><option value="moderate">Moderate</option><option value="active">Active</option></select>
            <input id="addFamilyMember" type="button" value="Add Family Member">
        </form>
        <a href="../">Home</a>
    </main>
</body>
</html>