<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meal Plan</title>
    <meta name="description" content="Manage meal plans">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Charm&family=Montserrat&display=swap"> <!-- Open+Sans -->
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/mealplan.js" type="module"></script>    
</head>
<body>
    <main class="wide">
        <h1><a href="../">Home</a> / Meal plan</h1>
       
        <div id="message"></div>

        <div id="mealplan">
            <div>
                <form id="week" name="week">
                    <div>
                        <h2>New Meal Plan</h2>
                        Create a meal plan by dragging recipes from the cookbook on the right to the days of the week below.
                        Verify the combined calories for each day meet or exceed the <strong><span id="recCalories"></span></strong> daily recommendation for your household.

                        <table class="tableData week">
                            <tr>
                                <th class="abbr" data-abbr="Mon">Monday</th>
                                <th class="abbr" data-abbr="Tue">Tuesday</th>
                                <th class="abbr" data-abbr="Wed">Wednesday</th>
                                <th class="abbr" data-abbr="Thu">Thursday</th>
                                <th class="abbr" data-abbr="Fri">Friday</th>
                                <th class="abbr" data-abbr="Sat">Saturday</th>
                                <th class="abbr" data-abbr="Sun">Sunday</th>
                            </tr>
                            <tr>
                                <td id="m" class="day"></td>
                                <td id="t" class="day"></td>
                                <td id="w" class="day"></td>
                                <td id="th" class="day"></td>
                                <td id="f" class="day"></td>
                                <td id="sa" class="day"></td>
                                <td id="su" class="day"></td>
                            </tr>
                            <tr>
                                <td id="mCal" class="calories"></td>
                                <td id="tCal" class="calories"></td>
                                <td id="wCal" class="calories"></td>
                                <td id="thCal" class="calories"></td>
                                <td id="fCal" class="calories"></td>
                                <td id="saCal" class="calories"></td>
                                <td id="suCal" class="calories"></td>
                            </tr>
                        </table>

                        <div id="controlButtons">
                            <input id="addPlan" type="button" class="control" value="Add Meal Plan">
                            <input id="cancel" type="button" class="control" value="Cancel">
                        </div>

                    </div>
                </form>
            </div>
            <div id="cookbook">
                <h2>Cookbook</h2>
                <ul id="recipes"></ul>
            </div>
        </div>

    </main>


    <script>
        /*
        // make days droppable 
        const days = document.querySelectorAll('.day');
        days.forEach(day => {
            day.addEventListener('dragover', dragOver);
            day.addEventListener('dragenter', dragEnter);
            day.addEventListener('dragleave', dragLeave);
            day.addEventListener('drop', dragDrop);
        });

        // https://stackabuse.com/drag-and-drop-in-vanilla-javascript/
        const items = document.querySelectorAll('.item');
        items.forEach(item => {
            item.addEventListener('dragstart', dragStart)
            item.addEventListener('dragend', dragEnd)
        });

        const recipes = document.querySelectorAll('.recipes');
        recipes.forEach(recipe => {
            recipe.addEventListener('dragover', dragOver);
            recipe.addEventListener('dragenter', dragEnter);
            recipe.addEventListener('dragleave', dragLeave);
            recipe.addEventListener('drop', dragDrop);
        });


        function dragStart() {
            console.log('drag started');
            setTimeout(() => this.className = 'invisible', 0)
        }
        function dragEnd() {
            console.log('drag ended');
        }
        function dragOver(e) {
            e.preventDefault();
            console.log('drag over');
        }
        function dragEnter() {
            console.log('drag entered');
        }
        function dragLeave() {
            console.log('drag left');
        }
        function dragDrop() {
            console.log('drag dropped');
        }

        let dragItem = null;

        function dragStart() {
            console.log('drag started');
            dragItem = this;
            setTimeout(() => this.className = 'invisible', 0)
        }

        function dragEnd() {
            console.log('drag ended');
            this.className = 'item'
            dragItem = null;
        }

        function dragDrop() {
            console.log('drag dropped');
            this.append(dragItem);

            let clone = dragItem.cloneNode(true);
            console.log(clone);
            clone.classList.remove('invisible');
            clone.classList.add('item');
            clone.setAttribute('draggable', 'true');

            document.querySelector('.recipes').append(clone);

            clone.addEventListener('dragstart', dragStart)
            clone.addEventListener('dragend', dragEnd)            

            clone.addEventListener('dragover', dragOver);
            clone.addEventListener('dragenter', dragEnter);
            clone.addEventListener('dragleave', dragLeave);
            clone.addEventListener('drop', dragDrop);            
        }
        */
    </script>
        

</body>
</html>