<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pantry</title>
    <meta name="description" content="Manage pantry items">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Charm&family=Montserrat&display=swap">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/pantry.js" type="module"></script>
</head>
<body>
    <main>
        <h1><a href="../">Home</a> / Pantry</h1>
        
        <div id="message"></div>

        <form id="pantryItem" name="pantryItem">
            <label for="food">Item</label>
            <input id="food" name="food" type="text" required>

            <label for="quantity">Quantity</label> 
            <input id="quantity" name="quantity" type="number" min="1" placeholder="Number of items" required>

            <label for="type">Type</label>
            <input list="types" id="type" name="type" />
            <datalist id="types">
                <option value="Grains">
                <option value="Proteins">
                <option value="Fats">
            </datalist>   

            <fieldset>
                <legend>Per container</legend>
                <span class="quantity">
                    <label for="amount">Amount</label> 
                    <input id="amount" name="amount" type="number" min="0" placeholder="How much" required>

                    <label for="measure">Measure</label>  
                    <input list="measures" id="measure" name="measure">
                    <datalist id="measures" required></datalist>
                </span>
            </fieldset>

            <input id="id" type="hidden">
            <div id="controlButtons">
                <input id="addPantryItem" type="button" class="control" value="Add Item">
                <input id="cancel" type="button" class="control" value="Cancel">
            </div>
        </form>
        
    </main>
</body>
</html>