<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe</title>
    <meta name="description" content="Beehive food storage calculator">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Charm&family=Montserrat&display=swap">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/recipe.js" type="module"></script>
</head>
<body>
    <main>
        <h1><a href="../">Home</a> / Recipe</h1>

        <div id="message"></div>
        
        <form id="recipe" name="recipe" method="GET">
            <label for="name">Name:</label> 
            <input id="name" name="name" type="text" required>

            <label for="instructions">Instructions:</label> 
            <textarea id="instructions" name="instructions" required></textarea>

            <label for="type">Type</label>
            <input list="types" id="type" name="type" />
            <datalist id="types">
                <option value="Bread">
                <option value="Dessert">
                <option value="Snack">
            </datalist>

            <label for="serves">Serves:</label> 
            <input id="serves" name="serves" type="number" min="1" required>

            <ul id="ingredients">
                <li>
                    <fieldset>
                        <legend>Ingredient</legend>
                        <span class="quantity">
                            <label for="amount1">Amount: </label> 
                            <input id="amount1" name="amount1" type="number" min="0" required>

                            <label for="measure1">Measure: </label>  
                            <input id="measure1" list="measures" name="measure1" />
                            <datalist id="measures"></datalist>
                        </span>
                        <label for="item1">Item:</label>  
                        <input id="item1" data-id="1" class="food" type="text" required>
                    </fieldset>
                </li>
            </ul>
            <input id="newIngredient" type="button" value="New Ingredient">

            <input id="addRecipe" type="button" value="Add Recipe">
        </form>
        
    </main>
</body>
</html>