@media only screen and (min-width: 35em) {
    html {
        background: MistyRose;
    }

    body{
        max-width: 900px;
        margin-top: 2em;
        margin-bottom: 4em;
        filter: drop-shadow(-13px 32px 23px black);
    }
    
    .motto {
        font-size: 1.5em;
    }
    
    .ham {
		display: none;
	}

    .navigation {
		display: flex;
        align-items: center;
	}
	
    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}

    h1 {
        font-size: 3em;
        margin-bottom: .1em;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    h3 {
        font-size: 1.5em;
    }
    
    h4 {
        font-size: 1.2em;
    }
    
    footer {
        margin-top: 2em;
        font-size: 1.2em;
    }

    picture img , .formimage {
        filter: drop-shadow(-13px 9px 13px grey);
    }

    .forecast {
        display: block;
        margin-top: 3em;
    }

    table {
        width: 100%;
        text-align: center;
        border-spacing: .5em;
    }
    table td {
        border: dashed black 1px;
        padding: .7em;
    }
    td i {
        margin-bottom: .2em;
    }

    .placeholder {
        padding: 2.5em;
    }
    .mainarticle picture {
        margin: -3em 0 1.5em 3em;
        float: right;
    }
    .contact {
        display: flex;
        justify-content: center;
    }
    .contact img {
        display: block;
        margin-left: 1em;
        margin-bottom: 2em;
    }
    .info {
        margin-top: 2em;
        margin-left:2em;
    }
    #announcement {
        padding-top: 3em;
        width: 100%;
        left: -1em;
    }
    #announcement p {
        font-size: 2em;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        width: 0;
        justify-content: center;
    }

    /* form */
    form label {
        padding: 0;
    }
    fieldset {
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    form label, input, select, textarea {
        border: none;

    }    
    .comments {
        grid-column: 1 / span 2;
        width: 97%;
    }
    [type=submit] {
        width: 60%;
        padding: 2em;
    }
    .formimage {
        display: block;
        grid-column-start: 2;
        grid-row: 1 / span 4;
        text-align: center;
    }
    .formimage img {
        margin: 1em 0 .5em;
    }
    .formimage:nth-child(2) {
        grid-row: 1 / span 3;
    }
    .radio {
        grid-column: 1 / span 2;
        margin-bottom: 3em;
    }
    .radio span {
        flex: none;
    }
    .towns section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .towndata {
        margin-top: 6em;
    }
    .towns section:nth-child(even) picture {
        grid-row: 1;
        grid-column: 1;
    }
    .towns section:nth-child(even) h2, 
    .towns section:nth-child(even) .towndata {
        grid-row: 1 / span 2;
        grid-column: 2;
    }

    .towns section:nth-child(odd) picture {
        grid-column: 2;
    }
    .towns section:nth-child(odd) h2, 
    .towns section:nth-child(odd) .towndata {
        grid-row: 1 / span 2;
        grid-column: 1;
    }
    #quote {
        padding: 2em;
    }



    /* https://codepen.io/carterpape/pen/rNjJKbM */
    .map {
        height: auto;
        overflow: hidden;
        padding: 5em;
        padding-right: 5.5em;
        background-image: radial-gradient(#eee, var(--secondary-color));
 
        clip-path: polygon(
            0% 3%,
            3.5% 0.1%,
            8.9% 0.7%,
            13.2% 1.2%,
            21.7% 1.8%,
            24.7% 1%,
            29.2% 0%,
            34.9% 1.3%,
            40.6% 0.5%,
            47.1% 1.8%,
            49.9% 1%,
            53.8% 2.5%,
            62.2% 0.4%,
            67.3% 1.2%,
            70.3% 0.3%,
            75.8% 1.4%,
            78.5% 1.7%,
            84% 2.6%,
            91.1% 0.5%,
            93.6% 2.4%,
            97.3% 0.3%,
            98.9% 6%,
            98.1% 11.4%,
            98.6% 15.5%,
            97.3% 17.8%,
            97.7% 27.4%,
            98.3% 28.5%,
            99.7% 34.1%,
            98.8% 41.9%,
            98.3% 45.7%,
            98.4% 50.9%,
            98.7% 57.4%,
            99.6% 60.4%,
            99.4% 66.6%,
            99.2% 69.5%,
            97.4% 77.1%,
            98.1% 82.3%,
            99.9% 83.5%,
            98.2% 91.5%,
            99.3% 95.3%,
            98% 98.6%,
            93.6% 97.4%,
            90.3% 98.3%,
            86.8% 98.3%,
            78.6% 98.5%,
            76.4% 99.2%,
            69.7% 99.8%,
            64.2% 99.3%,
            61.8% 99.2%,
            57.2% 98.1%,
            48.7% 98.3%,
            46.8% 99%,
            39.6% 98.9%,
            33.8% 97.3%,
            28.2% 99.4%,
            27% 98.3%,
            22.1% 98.6%,
            13.1% 97.1%,
            8.7% 99.3%,
            2.7% 97.4%,
            2% 98.2%,
            2.1% 94.3%,
            0.7% 90.5%,
            0.9% 86.3%,
            2.2% 78.2%,
            0.4% 76.7%,
            1.2% 72.1%,
            2% 64%,
            1.4% 59.8%,
            0.4% 57.3%,
            0.3% 49.1%,
            2.9% 44.7%,
            1.9% 41.3%,
            0.8% 35.7%,
            2.9% 31.3%,
            0.8% 24.9%,
            2.7% 20.5%,
            0.8% 17.4%,
            2.5% 8.6%,
            1.1% 5.5%
        );
    }
}