@import url("https://fonts.googleapis.com/css?family=Ballet");

main p {
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  left: -1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

article h1 {
  margin-left:.5em;
}  

aside div {
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
}

.aside-tip {
  background-color: #C6C1A9;
  margin-top: 1em;
  padding: 1.5em;
  color: #22404D;
  border-radius: 4px;
}

.aside-tip:hover {
  background-color:#22404D;
  color: #FFFFFF;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .story-img {
    margin-bottom: 1em;
  }
  section p {
    margin-top: 0;
  }
  aside {
    border-radius: 15px 15px 0 0;    
  }
  .story-img img {
    border-radius: 15px 15px 0 0;
  }   
}
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 900px and up) */
@media screen and (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
  }
  main article {
    columns: 2;
    column-rule: 1px solid #22404D;
    column-gap: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
  main article p:first-of-type {
    margin-top: -.1em;
  }
  .story-img {
    -webkit-column-span: all;
    column-span: all;
  }

  main article p::first-letter {
  /*main article p:first-of-type:first-letter {*/
    font-size: 200%;
    font-family:Ballet, Helvetica, cursive;
  }  
  
  /* https://www.w3schools.com/howto/howto_js_image_magnifier_glass.asp */  
  .img-magnifier-container {
    position:relative;
  }

  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 250px;
    height: 250px;
  }  
  
}
/* large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
/* Extra large devices (Large desktops, 1800px and up) */
@media screen and (min-width: 1800px) {
}
